# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

riva-nim/*
riva-nim-1.0.0.tgz

deploy/helm/nvidia-blueprint-vss/*

*.log
*.zip
logs/